.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left:3.5rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 12rem;
  max-width: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
 .buttonBox {
margin-top: 1rem;
 }
 
.mvBtn {
  font-weight: 800; 
}

.title {
  font-weight: 600;
  font-size: .75rem;
  margin-bottom: 0;
}